body {
  color: #F8F8F8;
  background-color: #DDDDDD;
}

.navbar {
  background-color: #161515;
}

.jumbotron {
  background-color: #231F20;
}

footer {
  color: black;
}

.container-fluid-home {
  width: 100%;
  padding-right: 0px;
  padding-left: 0px;
  margin-right: auto;
  margin-left: auto;
  overflow: hidden;
}

.cards-container{
  margin-top: -80px;
  margin-bottom: -90px;
}

.centerBlock {
    display: table;
    margin: auto;
}

.titre {
	 display: flex;
	 text-align: center;
	 text-shadow: 0 1px 1px #fff;
	 margin: 1.5em 0;
}

.titre::before, .titre::after {
	content: "";
	flex:1;
	align-self: center;
	border-bottom: 1px solid CurrentColor;
}

.titre::before {
	margin-right: .3em
}

.titre::after {
	margin-left: .3em
}

.container {  
  color: black;
}

.img-border {
  border: 1.5px solid black;
}

/*
  -- CSS PAGE EQUIPE --
*/

.card{
  box-shadow: .3em .3em 0.2em rgba(0,0,0,0.3); border:none;
  transition: cubic-bezier(.18,.89,.46,1.07) 500ms ;
}

.card:hover{
  transform: scale(1.01);
  box-shadow: .5em .5em .5em rgba(0,0,0,0.3); border:none;
}

.dark-color, .dark-color-top{
  background-color: #24292e;
}

.dark-color-top{
  padding: 1em 0em;
  font-weight: bold;
  border-radius: .3em;
}

.card{
  margin-left: 1em;
  margin-right: 1em;
  margin-top: .5em;
}

.card-img{
  box-shadow: 0em 0em 0em rgba(0,0,0,0.3); border:none;
  transition: cubic-bezier(.18,.89,.46,1.07) 500ms ;
}
.card-img:hover{
  box-shadow: .1em 1em .2em rgba(0,0,0,0.3); border:none;
  transform: scale(1.1) rotate(-8deg) translate(-.2em,-.2em);
}