:root {
    --maincardcolor : #333;
    --secondcardcolor : #fff;
    --hovercolor: #1976d2;
    --maincardheight : 260px;
}

.card-home {
    position: relative;
    cursor: pointer;
    color:transparent;
    margin-bottom: 13em;
    transition-duration: .5s;
}
.card-home .ombre{
    background: white;
    height:250px;
    margin-top: -400px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    transform-origin: top;
    transition-duration: .5s;
}
.card-home .face {
    width: 425px;
    color: black;
    height: var(--maincardheight);
    transition: 0.5s;
}

.card-home .face.face2 {
    height: 150px;
}

.card-home .face.face1 {
    z-index: 2;
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    background: var(--maincardcolor);
    transition: .75s;
	box-shadow: .2em .2em .15em rgba(44, 44, 44, 0.5);
}

.card-home .face.face2 {
    z-index: 1;
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    padding: 10px;
    background: var(--secondcardcolor);
    transform: translateY(-260px);
}

.card-home .face.face1 .content h3{
    color: #fff;
    text-align: center;
    font-size: 1.5em;
}

.card-home .face.face2 .content a{
    margin: 15px 0 0;
    color: transparent;
    display:  inline-block;
    text-decoration: none;
    font-weight: 900;
    color: var(--maincardcolor);
    padding: 5px;
    border: 1px solid #333;
}

.card-home .face.face2 .content a:hover{
    background: var(--maincardcolor);
    color: #fff;
}

.card-home .face.face1 .content{
    opacity: 0.25;
    transition: 0.5s;
}

.card-home:hover .face.face1 {
    transform : translate(-2px,-2px);
    background: var(--hovercolor);
}

.card-home:hover .face.face2{
    transform: translateY(0px);
}

.card-home:hover .ombre{
    height: 400px;  
    box-shadow: .5em .5em .2em rgba(44, 44, 44, 0.5);
}




.card-home:hover .face.face1 .content{
    opacity: 1;
}

.card-home:hover{
    margin-bottom: 0em;
    transform : translate(-5px,-5px);
}

@media screen and (min-width: 1140px) and (max-width: 1500px){

    :root {
        --maincardheight : 250px;
    }

    .card-home .face {
        width: 400px;
    }

    .card-home .face.face2 {
        height: 150px;
    }    

    .card-home .face.face2 {
        transform: translateY(-250px);
    }

    .card-home .face.face1 .content h3{
        font-size: 1.25em;
    }
}
