.card{
    box-shadow: .3em .3em 0.2em rgba(0,0,0,0.3); border:none;
    transition: cubic-bezier(.18,.89,.46,1.07) 500ms ;
}

.card:hover{
    transform: scale(1.01);
    box-shadow: .5em .5em .5em rgba(0,0,0,0.3); 
    border:none;
}

.dark-color, .dark-color-top{
    background-color: #24292e;
}

.dark-color-top{
    padding: 1em 0em;
    font-weight: bold;
    border-radius: .3em;
}

.card{
    margin-left: 1em;
    margin-right: 1em;
    margin-top: .5em;
}

.card-img{
    box-shadow: 0em 0em 0em rgba(0,0,0,0.3); 
    border:none;
    transition: cubic-bezier(.18,.89,.46,1.07) 500ms ;
}
.card-img:hover{
    box-shadow: .1em 1em .2em rgba(0,0,0,0.3); 
    border:none;
    transform: scale(1.1) rotate(-8deg) translate(-.2em,-.2em);
}