.img-galery{
    width: 100%;
    margin-bottom: 2em;
}

.img-container {
    position: relative;
    width: 100%;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    background-color: #333;
    overflow: hidden;
    width: 0;
    height: 13%;
    transition: .5s ease;
    border-bottom-right-radius: 10px;
}

.overlay-20 {
    height: 20%;
}

.img-container:hover .overlay {
    width: 55%;
}

.img-container .text {
    color: white;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    white-space: nowrap;
}

.table.table-bordered > tbody > tr > td{
    border:1px solid black;
}

.table.table-bordered > thead > tr > th{
    border:1px solid black;
}